* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}

/* Header */
.logo {
    max-width: 40px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(#5885e4, #2a4395);
    text-align: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/public/images/white-cloud-blue-sky-sea.jpg) no-repeat center center/cover; */
    z-index: 1;
    height: 50px;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin: 12px;
    padding:12px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: lighter;


}
.nav-links li:hover {
    background-color: #701fcc;
    border-radius: 8px;
    align-items: center;
    width: 120px;
    text-align: center;
}

.active {
    background-color: #007bff;
    width: 120px;
    border-radius: 8px;
    text-align: center;
}

/* Login Form */

.form-container {
    background-color: #eeeeee;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    display: flex;
}

.student-login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 0 8px 8px 0;
    width: 50%;
}

.login-option-container {
    display: flex;
    padding: 30px;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/images/modern-monitor-elegant-table.jpg) no-repeat center center/cover;
    width: 50%;
}

.login-option {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.login-option li {
    background: linear-gradient(#5885e4, #2a4395);
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    padding: 15px;
    width: 100%;
    max-height: 80px;
}

.login-option li a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.login-option li:hover {
    background: #701fcc;
    text-align: center;
}

.student-login-form .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.row .column-1 {
    display: block;
    width: 20%;
}
.row .column-2 {
    display: block;
    width: 80%
}

.student-login-form input[type=email], input[type=password] {
    border: 1px solid #eeeeee;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.row label {
    font-size: 20px;
    margin-left: 0;
}

.form-heading {
    font-size: 22px;
    text-align: center;
    padding: 30px;
    color: #ccc;
}

.submit-btn {
    padding: 30px;
}

.submit-btn input[type=submit] {
    display: block;
    background: linear-gradient(#5885e4, #2a4395);
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    color: white;
    font-size: 25px; 
}

.other-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me input[type=checkbox] {
    margin-right: 10px;
    text-align: center;
}

.forgot-password, .remember-me {
    font-size: 18px;
    padding: 30px;
}

/* Contact form */

.contact-outer-background {
    background-color: #f5f5f5;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
}

.form-background {
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 20px 0 150px 0;
}

.form-background .wrapper {
    width: 50%;
    margin: auto;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.4);
}
.wrapper .contact-form-heading {
    background-color: #f5f5f5;
    color: black;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}
.contact-inputs .contact-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 4px 30px;
}
.contact-column label, .contact-message-row label {
    display: block;
    padding-bottom: 10px;
    color: #535050;
}
.contact-column input[type=text], .contact-column input[type=email], .contact-column  input[type=tel] {
    border: 1px solid #eeeeee;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.3);
    outline: none;
}
.contact-message-row {
    padding: 20px 30px 4px 30px;
}
.contact-message-row textarea {
    padding: 4px;
    width: 100%;
    height: 150px;
    resize: vertical;
    border: 1px solid #eeeeee;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.3);
    font-size: large;
}

.contact-message-row textarea:focus{
    outline: none;

}
.contact-submit-btn {
    padding: 30px;
    text-align: center;
}
.contact-submit-btn input[type=submit] {
    background: linear-gradient(#5885e4, #2a4395);
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 25%; 
}
